extends html

snippet % "<% ... %>"
<% ${0} %>
endsnippet

snippet = "<%= ... %>"
<%= ${0} %>
endsnippet

snippet ff "form_for"
<%= form_for @${1:model} do |f| %>
	$0
<% end %>
endsnippet

snippet conf "content_for"
<% content_for :${1:block} do %>
	$0
<% end %>
endsnippet

# vim:ft=snippets:
