"*":
  core:
    disabledPackages: [
      "vim-mode-plus-ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "cobalt2-syntax"
    ]
  editor:
    fontFamily: "Operator Mono SSm"
    fontSize: 12
    invisibles: {}
  "exception-reporting":
    userId: "6755bc9b-8907-fee5-4a18-ac70cc829b4c"
  "file-icons":
    coloured: false
  "git-projects":
    rootPath: "/Users/epogue/Projects"
  "one-dark-ui":
    layoutMode: "Compact"
  react:
    enabledForAllJavascriptFiles: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
