"*":
  editor:
    fontFamily: "Menlo"
    invisibles:
      {}
    fontSize: 13
    lineHeight: 1.4
    autoIndentOnPaste: true
    normalizeIndentOnPaste: false
  core:
    ignoredNames: [
      ".sass-cache"
      ".codekit-cache"
      ".bundle"
      ".git"
      "log"
      ".DS_Store"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "autocomplete-paths"
      "minimap"
      "minimap-find-and-replace"
      "minimap-git-diff"
      "minimap-highlight-selected"
      "minimap-selection"
      "relative-line-numbers"
      "linter"
      "linter-eslint"
      "emmet"
      "regex-railroad-diagram"
      "script"
      "atom-color-highlight"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  linter:
    {}
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "find-and-replace": true
  "file-icons":
    coloured: false
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "vim-surround":
    {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "rails-rspec":
    {}
  "git-projects":
    rootPath: "/Users/epogue/Projects"
  "relative-numbers":
    displayTrueLineNumberOnCurrentLine: true
  "relative-line-numbers":
    showNormalLineNumbers: false
  "one-dark-ui":
    {}
  "advanced-new-file":
    {}
  "atom-fuzzy-grep":
    {}
  "linter-eslint":
    {}
  emmet:
    {}
  "atom-color-highlight":
    {}
  "merge-conflicts":
    {}
  "isotope-ui":
    fontFamily: "Source Sans Pro"
  "base16-syntax":
    scheme: "Isotope"
  "fuzzy-finder":
    searchAllPanes: true
  "selector-to-tag":
    activeForFileTypes: [
      "htm"
      "html"
      "kit"
      "tpl"
      "tmpl"
      "liquid"
      "hbs"
    ]
