"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 13
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "regex-railroad-diagram"
      "autocomplete-paths"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      selection: true
      "find-and-replace": true
  "file-icons":
    coloured: false
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  "vim-surround": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "rails-rspec": {}
